APScheduler==3.10.4
asgiref==3.8.1
Django==5.0.6
django-apscheduler==0.6.2
flake8==7.0.0
mccabe==0.7.0
pillow==10.3.0
psycopg2-binary==2.9.9
pycodestyle==2.11.1
pyflakes==3.2.0
python-dotenv==1.0.1
pytz==2024.1
scheduler==0.8.5
six==1.16.0
sqlparse==0.5.0
typeguard==4.2.1
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==5.2
